*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Image/67235.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    display: flex; 
    background-color: black;  
}
.top .top-left  img{
    width:670px;
    height: 400px;
}
.top .top-right iframe{
    width:670px; 
    height: 400px;  
}
.font{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
button{
    color:black;
    font-size: larger;
    font-weight: bolder;
    width:15%;
    height:30px;
    border-radius: 10px;  
    box-shadow: 0 0 1px 1px black;
    margin: 10px 530px;
    border: none;
    background-color:rgb(223, 204, 204);
}
button:hover{
    width:16%;
    height:32px;
    border-radius:15px ;
    background-color: rgb(223, 190, 190);
    
}
.top-box{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
   
}
h4{
    color:rgb(247, 9, 9);
    margin: 25px 50px;
    font-size: x-large;
}
.middle{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.middle img{
    border-radius: 50%;
    background-color: aliceblue;
    box-shadow: 0 0 3px 3px whitesmoke;
    width: 225px;
    height: 150px;
}
.middle img:hover{
    box-shadow: 0 0 3px 3px green;
}

.middle p{
    color: rgb(243, 231, 231);
    text-align: center;
    text-decoration:none;
}
.top-box{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
   
}
h4{
    color:rgb(247, 9, 9);
    margin: 25px 50px;
    font-size: x-large;
}
.new{
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 3px 3px whitesmoke;
}
.new img{
    width: 225px;
    height: 200px;
}
.new img:hover{
    box-shadow: 0 0 5px 5px green;

}
.new p{
    color: black;
    text-align: center;
    text-decoration:none;
}
