*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../Image/signup.jpg");
    background-color: rgba(0, 0, 0, 0.70);
    background-blend-mode: multiply;
    background-size:cover; 
}
#head{
    display: flex;
    justify-content:flex-end;
    padding: 15px 20px ;
    height: 30px;
    gap: 70px;
    color:#fff;
    background-color: rgb(39, 34, 51);
}
#head i{
    margin-right: 30px;
    font-size: 25px; 
    font-weight: bolder;
}
#head a{
    text-decoration: none;
    color: whitesmoke;
    
}
#head a:hover{
    color: aquamarine;
    text-decoration: underline;

}
#head h2{
    color: red ;
    margin: 10px 0px ;
    font-weight: bolder;
}
#head img{
    width: 50px;
    height: 40px;
}
.head-box{
    display: flex;
    margin-right:550px;
}
.conatainer{
    display: flex;
    margin: 20px 100px;
}
.conatainer img{
    width: 80%;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 3px 3px whitesmoke;
}
.footer{
    background-color: #fff;
}
.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.bottom h2{
    color: rgb(224, 29, 29);
    text-decoration-line:underline;
    text-decoration-color: black;
    margin-top: 10px;
}
.bottom h5{
    font-size: large;
    margin: 10px;
}
h5:hover{
    text-decoration-line: underline;
    font-size: larger;
}
.bottom .row-4{
    margin-bottom: 110px;
}
.social-icon{
    font-size:xx-large;
    margin-top: 10px;
}